body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header form {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 20px;
}

.buscar {
    padding: 10px;
    padding-right: 35px;
    border-radius: 15px 0 0 15px;
    border: 0;
    outline: none;
}

.btnbuscar {
    background-color: #2D2D2D;
    padding: 10px;
    padding-right: 15px;
    border-radius: 0 15px 15px 0;
    border: 0;
    position: relative;
    right: 0;
}

.carrito, .open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #4b0082;
    color: white;
    border: none;
    padding: 10px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    background-color: #2D2D2D;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    z-index: 5;
}

.left-sidebar {
    left: 0;
}

.right-sidebar {
    right: 0;
}

.sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.close-btn {
    position: absolute;
    top: 0;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

.left-sidebar .close-btn {
    right: 10px;
}

.right-sidebar .close-btn {
    left: 10px;
}

.notifications {
    display: none;
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.notification-content {
    padding: 10px;
}

.notification-content p {
    margin: 10px 0;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 5px;
}

.card-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    z-index: 1;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 10px solid #c0c0c0;
    border-radius: 2%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    width: calc(20%);
    max-width: calc(20%);
    min-width: 250px;
    margin: 20px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}