body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header form {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 20px;
}

.buscar {
    padding: 10px;
    padding-right: 35px;
    border-radius: 15px 0 0 15px;
    border: 0;
    outline: none;
}

.btnbuscar {
    background-color: #2D2D2D;
    padding: 10px;
    padding-right: 15px;
    border-radius: 0 15px 15px 0;
    border: 0;
    position: relative;
    right: 0;
}
.btnregisro {
    background-color: #2D2D2D;
    padding: 10px;
    padding-right: 15px;
    border-radius: 0 15px 15px 0;
    border: 0;
    position: relative;
    right: 0;
}

.carrito, .open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #4b0082;
    color: white;
    border: none;
    padding: 10px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    background-color: #2D2D2D;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
}

.left-sidebar {
    left: 0;
}

.right-sidebar {
    right: 0;
}

.sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.close-btn {
    position: absolute;
    top: 0;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

.left-sidebar .close-btn {
    right: 10px;
}

.right-sidebar .close-btn {
    left: 10px;
}

.notifications {
    display: none;
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.notification-content {
    padding: 10px;
}

.notification-content p {
    margin: 10px 0;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 5px;
}

/* General Styles for the Form */

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    margin-bottom: 20px;
}

form button[type="submit"] {
    background-color: #2D2D2D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
   
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Alert Styles */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #fff;
}

.alert.success {
    background-color: #28a745;
}

.alert.error {
    background-color: #dc3545;
}

.image-preview {
    width: 50%;
    height: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    overflow: hidden;
    margin-bottom: 20px; /* Add margin for spacing */
}
.image-preview img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    display: block;
}

/* Styles for the Form Grid */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-container {
    display: flex;
    flex-direction: column;
}

.image-preview {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    overflow: hidden;
    margin-bottom: 20px; /* Add margin for spacing */
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.parte3{
    width: 1080px;
    margin: 0;
    align-items: center;
    text-align: center;
    background-color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    display: flex;
}

.textob3{
    background-color: white;
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    width: 216px;
    padding: 10px;
    margin: 0px;
    align-items: center;
    text-align: center;
    border-color: black;
    flex-wrap: wrap;
    display: flex;
}

.parte4{
    width: 1000px;
    margin: 0;
    align-items: center;
    text-align: center;
    background-color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    display: flex;
}


.textob4{
    background-color: gray;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    width: 135px;
    padding: 40px;
    margin: 0px;
    align-items: center;
    text-align: center;
    border-color: black;
    flex-wrap: wrap;
    display: flex;
}

.img4 {
    background-color: gray;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    width: 135px;
    padding: 40px;
    margin: 0px;
    align-items: center;
    text-align: center;
    border-color: black;
    flex-wrap: wrap;
    display: flex;
}